# Generate with: openssl rand -hex 32
PLANNER_AUTH_API_KEY=

# Database
PLANNER_DB_HOST=localhost
PLANNER_DB_PORT=5433
PLANNER_DB_USER=planner
PLANNER_DB_PASSWORD=planner
PLANNER_DB_NAME=planner
PLANNER_DB_DISABLE_TLS=true
